<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>test</title>
    <link href="css/bootstrap.min.css" rel="stylesheet"/>
    <style type="text/css">
        .container{
            margin: 0 auto;
            width: 60%;
            margin-top: 40px;
        }
        .form{
            width: 60%;
            margin: 0 auto;
        }
        ul li{
            margin-bottom: 10px;
            border-bottom: 1px solid #333;
        }
        p{
            line-height: 20px;
            padding: 0;
            margin: 0;
        }
    </style>
</head>
<body>
    <div class="container">
        <form class="form">
            <input type="text" class="form-control" placeholder="Text input" id="title">
            <textarea class="form-control" rows="3" id="text"></textarea>
            <button id="tijiao">提交</button>
        </form>
        <nav aria-label="Page navigation">
          <ul class="pagination">
            <li>
              <a href="#" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
              </a>
            </li>
            <%for(let i = 0; i < count; i ++){%>
                <li><a href="/list?page=<%=i%>"><%= i + 1 %></a></li>
            <%}%>
            <li>
              <a href="#" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
              </a>
            </li>
          </ul>
        </nav>
        <ul>
            <% for(let i = 0; i < datalist.length; i++){%>
                <li>
                    <p><%= datalist[i].title %></p>
                    <p><%= datalist[i].text %></p>
                    <p><%= datalist[i].date %></p>
                    <span class="delete" data-id="<%= datalist[i]._id %>">删除</span>
                </li>
            <%}%>
        </ul>
    </div>
</body>
<script type="text/javascript">
    const ajax = (method, url, data = '') => new Promise((resolve, reject) => {
        let ajaxObj;
        if (window.XMLHttpRequest) {
            ajaxObj = new XMLHttpRequest();
        }else{
            ajaxObj = new ActiveXObject;
        }
        let sendData = '';
        if (method === 'post') {
            sendData = JSON.stringify(data);
        }
        ajaxObj.open(method, url, true);
        ajaxObj.setRequestHeader('Content-Type', 'application/json');
        ajaxObj.send(sendData);
        ajaxObj.onreadystatechange = () => {
            if (ajaxObj.readyState == 4) {
                if (ajaxObj.status == 200) {
                    resolve(ajaxObj.response);
                    return
                }
            }
        };
    });

    const submit = document.getElementById('tijiao');
    const inputValue = document.getElementById('title');
    const inputText = document.getElementById('text');
    const deletely = document.querySelectorAll('.delete');

    submit.onclick = async (event) => {
        event.preventDefault();
        const title = inputValue.value;
        const text = inputText.value;
        const date = new Date().getTime();
        if (title.length&&text.length) {
            const result = await ajax('post', '/insert', {title, text, date});
            console.log(result);
        }else{
            alert('请输入正确的值')
        }
    };
    deletely.forEach((item, index) => {
        item.onclick = async (event) => {
            const _id = event.target.getAttribute('data-id');
            const result = await ajax('get', '/delete?_id=' + _id);
            console.log(result);
        }
    });
    
</script>
</body>
</html>